<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about-us-css.css">
    <title>About Us</title>
</head>
<body>

    <div class="logo">
        <a href = "/"><img id="logoo" src="/images/final_2.png" alt=""></a>
    </div>

    <div class="why-us">
        <div class="img-why">
            <img src="/images/ffff-01.png" alt="" height="250px" width="250px">
        </div>
        <div class="why-us-heading">
            <h1>Why Us</h1>
        </div>
        <div class="why-us-content">
            <p>As all the articles/blogs will be posted in four broad subjects, people will get to see variety of content. 

                Genuine content will be posted which will be based on facts, plagiarism free, and error free. 
               
                If any user wants to frame an article/blog and faces any issues, we are there to help them out! 
               
                The website is completely user-friendly.</p>
        </div>
    </div>

    <div class="all-subjects">
        <div class="engineering">
            <div class="heading-1">
                <h1>ENGINEERING</h1>
            </div>
            <div class="img-1">
                <img id="11" src="/images/2585513 - Copy.png" alt="" height="250px" width="250px">
            </div>
            <div class="content-1">
                <p>“Scientists investigate that which already is; Engineers create that which has never been.”<br>
                    Engineering is something which is challenging as well as exciting. It uses a complex blend of specialized 
                    knowledge, science, math, design, construction, and empiricism in order to build valuable products or services
                    for society. It drives innovation of technology and uses technology to create advancement around us. 
                    In this advanced technological world, we need engineers to bring ideas into reality. By applying the 
                    principles of mathematics and science, engineers develop solutions to the world’s biggest technical issues.</p>
            </div>

        </div>
        <div class="Business">
            <div class="heading-2">
                <h1>BUSINESS & ECONOMICS</h1>
            </div>
            <div class="img-2">
                <img id="22" src="/images/business.png" alt="" height="280px" width="250px">
            </div>
            <div class="content-2">
                <p>Business is all about taking risks. If you succeed, you will be happy but if you fail, you will be wiser!
                    Entrepreneurs are amazing innovators and carry a main purpose of finding ideal solutions to any set of problems. Businesses foster innovation and competition. By having multiple similar businesses in a market, healthy competition can create better goods and services. Business economics integrates theories of economics with business practice. In short, business economics is a decision making science. That's why they are called growth drivers of economy of a nation!</p>
            </div>
            
        </div>
        <div class="Commerce">
            <div class="heading-3">
                <h1>COMMERCE</h1>
            </div>
            <div class="img-3">
                <img id="33" src="/images/p2 (2) - Copy.png" alt="" height="250px" width="180px">
            </div>
            <div class="content-3">
                <p>"Commerce is the equalizer of wealth of the nations."<br>
                    Commerce has contributed significantly
                     towards the economic development of society and quality of life of people.
                      It provides the neces­sary link between the producers and consumers of goods.
                       It has brought countries close to one another and the world has become one big market.
                    Since it requires a lot of processes to be completed, it easily generates various employment 
                    opportunities in other areas such as transport and logistics, banking, and retail.</p>
            </div>
            
        </div>
        <div class="personality">
            <div class="heading-4">
                <h1>PERSONALITY DEVLOPMENT</h1>
            </div>
            <div class="img-4">
                <img id="44" src="/images/personality.png" alt="" height="250px" width="250px">
            </div>
            <div class="content-4">
                <p>"Personality development is a major time-saver. The better you become, the less time it takes you to achieve your goals."<br>
                    It grooms an individual and helps to make a mark of his/her own. It plays an essential role not only in an individual’s professional but also personal lives. It makes an individual disciplined, punctual and an asset for his/her organization. It makes us look good and presentable but also helps us face the world with a smile.
                    Individuals ought to master the art of expressing their thoughts and feelings in the most desired way. Personality Development helps an individual to inculcate positive qualities like punctuality, flexible attitude, willingness to learn, eagerness to help others and so on.</p>
            </div>
            
        </div>
    </div>


    
</body>
</html>