<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about-us-css.css">
    <title>About Us</title>
</head>
<body>

    <div class="logo">
        <img id="logoo" src="/images/final_2.png" alt="">
    </div>

    <div class="why-us">
        <div class="img-why">
            <img src="/images/ffff-01.png" alt="" height="250px" width="250px">
        </div>
        <div class="why-us-heading">
            <h1>Why Us</h1>
        </div>
        <div class="why-us-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam impedit accusantium amet minima ipsum quisquam aliquam totam odio repellendus maiores nostrum vel obcaecati fugit, animi aspernatur, repudiandae tenetur sit, vitae saepe. Ipsa quasi recusandae fuga a eveniet provident hic, rem beatae laboriosam sed possimus quia, officia ea. Amet sint odio deserunt ab, corporis ex, quaerat quisquam natus adipisci temporibus soluta, libero quis? Sequi fuga recusandae esse molestiae. Consequuntur quisquam enim maiores totam quasi, possimus eos. Culpa cupiditate harum similique minus saepe obcaecati nam vero, repellat illo excepturi praesentium asperiores, libero accusantium fugit, facilis perspiciatis sint itaque et ullam maxime velit!</p>
        </div>
    </div>

    <div class="all-subjects">
        <div class="engineering">
            <div class="heading-1">
                <h1>ENGINEERING</h1>
            </div>
            <div class="img-1">
                <img id="11" src="/images/2585513 - Copy.png" alt="" height="250px" width="250px">
            </div>
            <div class="content-1">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, nobis? Consectetur at sit numquam quia labore eius modi beatae reprehenderit dolores animi in ad iure commodi sequi corrupti, doloremque aperiam! Ratione maiores deleniti delectus accusamus voluptatem omnis quae quasi commodi, maxime dolore tempora mollitia repudiandae dolor ea, aperiam incidunt labore libero suscipit quam. Mollitia voluptatibus quidem labore ipsum, iste ad maxime, officiis unde, dolorem itaque voluptas laboriosam minus sequi obcaecati. Quae dolorum blanditiis quo a accusamus earum dolores accusantium perferendis!</p>
            </div>

        </div>
        <div class="Business">
            <div class="heading-2">
                <h1>BUSINESS & ECONOMICS</h1>
            </div>
            <div class="img-2">
                <img id="22" src="/images/business.png" alt="" height="280px" width="250px">
            </div>
            <div class="content-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos perspiciatis tenetur expedita, tempore dolor ratione laboriosam vel corporis nihil. Sint aspernatur aliquid cupiditate veniam quaerat aperiam repellat iste rem cum, quibusdam ipsam officia aliquam ea mollitia magnam dolorum dolore velit laborum ipsa necessitatibus qui vitae nesciunt! Blanditiis quidem nemo autem beatae ex neque impedit, aspernatur officia laboriosam iure itaque in ipsa optio recusandae iste voluptatem, numquam veniam eius placeat illo laborum inventore assumenda? Fuga sint, eum sapiente distinctio et ducimus?</p>
            </div>
            
        </div>
        <div class="Commerce">
            <div class="heading-3">
                <h1>COMMERCE</h1>
            </div>
            <div class="img-3">
                <img id="33" src="/images/p2 (2) - Copy.png" alt="" height="250px" width="180px">
            </div>
            <div class="content-3">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni cumque temporibus voluptate id tempora placeat, minus ut. Possimus consectetur porro ea maiores culpa enim nisi voluptatum error, eaque harum expedita saepe commodi magni perspiciatis aspernatur, quo ullam hic odio. Dolorum quis odit earum, velit beatae ut, quod vitae iste est provident accusantium, maxime nemo assumenda similique doloremque! Corrupti illum in laborum obcaecati vel asperiores reprehenderit distinctio. Repellat vero dignissimos commodi veritatis tempora aliquid rerum sunt, totam, in libero porro. Assumenda.</p>
            </div>
            
        </div>
        <div class="personality">
            <div class="heading-4">
                <h1>PERSONALITY DEVLOPMENT</h1>
            </div>
            <div class="img-4">
                <img id="44" src="/images/personality.png" alt="" height="250px" width="250px">
            </div>
            <div class="content-4">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est odio, tenetur temporibus saepe consectetur distinctio laboriosam qui, voluptates animi libero similique ipsam totam laudantium nostrum repellat. Corrupti rerum porro quasi provident. Hic facilis culpa qui iure nobis odit quam neque corporis impedit nam, corrupti sunt laborum! Asperiores architecto deserunt impedit porro quos vitae reprehenderit facilis, ipsam explicabo, corporis laborum provident alias? Fuga, cum rem? Quis magnam porro at a accusamus nam ipsa nobis architecto recusandae iure! Sapiente delectus suscipit itaque?</p>
            </div>
            
        </div>
    </div>


    
</body>
</html>