



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/all-sections-blog-page.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-free-5.15.1-web/css/all.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/final_2.png">   
    <title>All Blogs</title>
</head>
<body>

    <div class="horz-top-nav-bar">
        <div class="nav-bar">
            <a href="/"><img src="/images/final_2.png" alt="" class="logo-top" height="50px" width="50px"></a>
        </div>
        <!-- <div class="sign-in-up">
            <p>sign-in/up</p>
        </div> -->
    </div>

    <div class="container">

        <a href="/posts/engineering/?page=1">

            <div class="box">
                <img src="/images/engineering.png" alt="" class="model">

                <div class="details">
                    <img src="/images/131 (4) - Copy.png " alt="" class="logo" width="100px" style="height:auto;">
                    <p>Engineering is something which is challenging as well as exciting. It uses a complex blend of specialized knowledge, science, math, design, construction, and empiricism in order to build valuable products or services for society. Engineering drives innovation of technology and uses technology to create advancement around us.</p>

                </div>
            </div>

        </a>

        <a href="/posts/business-economics/?page=1">

            <div class="box">
                <img src="/images/business.png" alt="" class="model">

                <div class="details">
                    <img src="/images/Untitled-12 (2).png " alt="" class="logo" width="100px" style="height:auto;">
                    <p>Businesses foster innovation and competition. They are called the growth drivers of economy of a nation. Economics focuses on the behaviour and interactions of economic agents and how economies work. Both work so closely that it is impossible to evidently distinguish them in real life.</p>

                </div>
            </div>

        </a>

        <a href="/posts/personality-development/?page=1">        

            <div class="box">
                <img src="/images/personality.png" alt="" class="model">

                <div class="details">
                    <img src="/images/97 (4) - Copy.png " alt="" class="logo" width="100px" style="height:auto;">
                    <p>Personality development plays an essential role not only in an individual’s professional but also personal lives. It makes an individual disciplined, punctual and an asset for his/her organization. It makes us look good and presentable but also helps us face the world with a smile.</p>

                </div>
            </div>
        </a>


        <a href="/posts/commerce/?page=1">

            <div class="box">
                <img src="/images/commerce.png" alt="" class="model">

                <div class="details">
                    <img src="/images/commerce-bg (4) - Copy.png " alt="" class="logo" width="100px" style="height:auto;">
                    <p>Commerce has contributed significantly towards the economic development of society and quality of life of people. It provides the necessary link between the producers and consumers of goods. Commerce paramounts to the buying and selling part of business and all the activities for successful flow of it.</p>

                </div>
            </div>
        </a>

    </div>
    
</body>
</html>