@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: 'poppins',cursive;
    font-size: 12px;
    background: black;
    background-image: url('/images/sameer_14draft.jpeg');
    cursor: pointer;
    overflow-x: hidden;
}

body
{
    overflow-x: hidden;

}

.btns-on-blogcard
{
    margin-top: 25px;
    display: inline-block;
    color: black;
    list-style: none;
}

.btns-on-blogcard button
{
    background: none;
    outline: none;
    text-decoration: none;
    border: none;

}

.btns-blog
{
    display: inline-block;
    margin-right: 1.1rem;
    cursor: pointer;
    
}

.fa-hand-peace
{
    color: black; 
}


.all-engineering-articles
{
    align-items: center;
    justify-content: center;
    padding-right: 0 1.5rem;
    position: relative;
    top: 17rem;
    left: 13rem;
}



.vertical-nav-bar
{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    /* position: fixed; */
}

.vertical-nav-bar a
{
    display: block;
    text-decoration: none;
    color: white;
    background: #ab2d24;
    text-transform: uppercase;
    padding: 17px 0px 15px 30px;
    margin: 5px 0;
    margin-bottom: 2px;
    width: 166px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 16px 0 rgba(0, 0, 0,0.8);
    position: relative;
    margin-left: -118px;
    transition: 0.5s ease;
}

.vertical-nav-bar a span
{
    float: right;
    width: 50px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    color: white;
    background: transparent;
    right: 0;
    top: 0;
}

.vertical-nav-bar a span i
{
    font-size: 19px;
}

.vertical-nav-bar a:hover
{
    margin-left: -25px;
}

.sections-blog
{
    list-style: none;
    visibility: hidden;

}
.option-blog
{
    background: black;
    color: white;
    border: none;
    margin-bottom: 5px;

}


.top-horiz-bar
{
    display: block;
    width: 100%;
    height: 65px;
    background: rgba(209, 208, 208, 0.897);
    align-items: center;
    position: fixed;
    z-index: 100;
}

.top-img-logo
{
    display: inline;
    position: absolute;
    top: 1px;
}

.top-img2-logo
{
    display: inline;
    position: absolute;
    top: 7px;
    left: 5rem;
}

.next-page
{
    position: relative;
    display: block;
    width: 800px;
    border-top: 2px solid white;
    font-size: 15px;
    margin-top: 50px;
    
}



.next-page span
{
    margin-left: 520px;
    display:inline;
    cursor: pointer;
    font-size: 17px;
    border: 2px solid white;
    padding: 0px 10px;
    border-radius: 30px;
    color: white;
    background: black;
}

.next-page span a
{
    color: white;
    text-decoration: none;
}

.next-page h2
{
    color: white;
}


.other-icons
{
    float: right;
    font-size: 20px;
}

.other-icons a
{
    text-decoration: none;
}

.other-icons i
{
    color: white;
}

.search-box
{
    position: absolute;
    align-items: center;
    top: 12px;
    right: 140px;
    background: black;
    height: 38px;
    border-radius: 43px;
    padding: 8px;
    /* padding-bottom: 10px; */
   
}

/* #search-button i{

} */

#search-font
{
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.search-box:hover > .search-txt
{
    width: 180px;
    padding:2px;
}





.search-btn
{
    color: black;
    float: right;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    background-color: none;
    outline: none;
    border: none;
    background: none;
}

.search-box .search-txt
{
    color: white;
}

.search-txt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    line-height: 0px;
    width: 0px;
}

.person-account
{
    position: relative;
    align-items: center;
    top: 22px;
    right: 10px;
    display: flex;
}

.account-info  .finall
{
    font-size: 14px;
    border: 3px solid black;
    border-radius: 30px;
    padding: 2px 15px;
    color: black;
}

 .side-box
        {
          
            position: relative;
            right: 220px;
            top: 0rem;
            float: right;
            border: 2px solid black;
            border-top: 5px solid black;
            min-width: 380px;
            max-width: 380px;
            height: auto;
            padding: 15px 5px;
            border-radius: 10px;
            background: rgba(209, 208, 208, 0.904);
        }
  
        .two-of-3-heading
        {
            padding-top: 15px;
        }

        
        .three-of-3-heading
        {
            padding-top: 15px;
            
        }
        
        .side-box-heading-one
        {
            color: black;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bolder;
            display: block;
            max-width: 90px;
            border-bottom: 5px solid #ab2d24;
            margin-bottom: 15px;
        }

        
        .side-box-heading-two
        {
            color: black;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bolder;
            display: block;
            max-width: 130px;
            border-bottom: 5px solid #ab2d24;
            margin-bottom: 15px;
        }

        
        .side-box-heading-three
        {
            color: black;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bolder;
            display: block;
            max-width: 80px;
            border-bottom: 5px solid #ab2d24;
            margin-bottom: 15px;
        }

        .sub-part-section
        {
            color: black;
            text-align: justify;
            padding: 0px 5px;
            font-size: 11px;
            margin-bottom: 15px;
            max-width: 360px;
            border-bottom: 1px solid black;
        }

        .date-side-box
        {
            margin-bottom: 10px;
        }

        .date-side-box span
        {
            font-size: 12px;
        }

        main
        {
            margin-bottom: 300px;
        }

        .side-box h2:hover
        {
            text-decoration: underline;
        }


        


       .article-heading-3p #articleheading-date
       {
           font-size: 1em;
       }

       
       .article-content
       {
           display: grid;
           grid-template-columns: repeat(1,1fr);
           height: auto;
           width: 800px;
           background:  rgba(209, 208, 208, 0.911);
           border-radius: 5px;
           text-align: justify;
           justify-content: center;
           padding: 30px;
           margin-bottom: 20px;
       }

       .article-content .article-heading-3p
       {
           
           font-size: 1.825em;
           text-transform: uppercase;
           border-bottom: 4px solid #ab2d24;
           margin-bottom: 30px;
           color: black;
           height: auto;
           width: 100%;

       }

       .overall-prop
       {
           margin-bottom: 13px;
       }

       .article-content .article-para-3p
       {
           color: black;
           font-size: 1.325em;
           padding: auto;
           width: 100%;
       }

       .similar-articles
       {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        box-sizing: border-box;
       }

       .all-griding
       {
        display: grid;
        grid-template-columns: repeat(6,1fr);
       }

       .similar-articles .overall-heading
       {
           display: block;
           border-radius: 5px;
           padding-left: 10px;
           width: 800px;
           background-color:rgba(209, 208, 208, 0.911);
           font-size: 1.725em;
           color: black;
           border-bottom: 4px solid #ab2d24;
           text-transform: uppercase;
           padding: 10px 10px;
           margin-bottom: 20px;
           
       }

       .similar-blog
       {
           position: relative;
           width: 250px;
           height: 150px;  
          background-color: rgba(209, 208, 208, 0.911) ;
          border-radius: 5px;
          margin-bottom:15px;
          padding: 0px 0px 0px 0px;
          padding-bottom: 20px;
          margin-right: 20px;
       }

       .similar-article-heading
       {
           display: block;
           float: right;
           display: inline-block;
           width:110px;
           height: 0px;
           text-align:justify ;
           font-size: 0.75em;
           padding-right: 15px;
       }

       .similar-article-image
       {
            border-radius: 5px;
            float: left;
            height: 100%;
       }

      

       .similar-button button
       {
           position: relative;
           top: 110px;
           right:10px;
           float: right;
           border: none;
           text-decoration: none;
           padding: 5px;
           background:#ab2d24 ;
           color: white;
           font-weight: 600;
           border-radius: 5px;
           margin-top: 5px;
           cursor: pointer;
       }


       #channel-name
       {
           padding: 5px;
           background: #ab2d24;
           color: black;
           border: none;
           cursor: pointer;
           border-radius: 5px;
           text-transform: uppercase;
           font-weight: 600;
       }

       #susbscribe-id-plus
       {
           cursor: pointer;
       }

       #entity-save-subscribe
       {
           float: right;
       }

       #author-linkedin
       {
           margin: 0 5px;
           padding: 0 5px;
           cursor: pointer;
           background: #0E76A8;
           border-radius: 5px;

       }

       #author-linkedin i
       {
           color: white;
           background: #0E76A8;
       }

       footer
       {
           position: sticky;
           top: 100%;
           width: 100%;
           background: rgba(209, 208, 208, 0.911);
       }

       .main-content
       {
           display: grid;
           grid-template-columns:repeat(4,1fr) ;
       }

       .main-content .box 
       {
           padding: 20px 20px;
       }

       .box h2
       {
           font-size: 1.825em;
           font-weight: 600;
           color: black;
           text-transform: uppercase;
           border-bottom: 1px solid black;
       }

       .box .content 
       {
           margin: 20px 0 0 0;
       }

       .left .content img
       {
           padding-left: 20px;
       }

       .logo-footer-img
       {
        border-right: 5px solid #ab2d24;
       }

       .left .content .social
       {
           margin: 10px 0 0 0;
           padding-left: 90px;
       }

       .left .content .social a
       {
           padding: 0 5px;
       }

       .left .content .social a span
       {
           height: 30px;
           width: 30px;
           background: #1a1a1a;
           line-height: 30px;
           text-align: center;
           font-size: 15px;
           border-radius: 50%;
           color: white;
           transition: 0.3s;
       }

       .left .content .social a span:hover
       {
           background: #ab2d24;
       }

       .center
       {
           margin-top: 24px;
       }
       .center-right
       {
           margin-top: 24px;
       }
       .right 
       {
        margin-top: 24px;
       }

       .center .content .links li 
       {
           list-style: none;
           padding-bottom: 10px;
           font-size: 1.356em;
           font-weight: 500;
       }

       .center .content .links li a
       {
           text-decoration: none;
           color: black;
       }

       .center-right .content .links li 
       {
           list-style: none;
           padding-bottom: 10px;
           font-size: 1.356em;
           font-weight: 500;
       }

       .center-right .content .links li a
       {
           text-decoration: none;
           color: black;
       }

       .right form .msg 
       {
           margin-top: 10px;
       }

       .right form .text 
       {
         font-size: 1.356em;
         font-weight: 500;
         color: black;
       }

       .right form input
       {
           font-size: 1.065rem;
           margin-bottom: 10px;
           color: black;
       }

       .right form input,
       .right form textarea
       {
           width: 100%;
           font-size: 1.956em;
           background: white;
           padding-left: 10px;
           border: 1px solid #222222;
       }

       .right form input:focus,
       .right form textarea:focus
       {
         outline-color: #ab2d24;
       }

       .right form textarea,
       {
          height: 95px;
       }

       .right form .btn
       {
           margin-top: 15px;
       }

       .right form .btn button
       {
           height: 40px;
           width: 100%;
           border: none;
           outline: none;
           background: #ab2d24;
           font-size: 1.45em;
           font-weight: 500;
           cursor: pointer;
           transition: 0.3s;
       }

       .right form .btn button:hover
       {
           background: #ab2d24;
       }

       .bottom center
       {
           padding: 5px;
           font-size: 1em;
           background:#ab2d24;
       }

       .bottom center span
       {
           color: black;
           font-weight: 600;
       }

       .bottom center a
       {
           color: black;
           text-decoration: none;
       }

       .bottom center a:hover
       {
           text-decoration: underline;
       }

       .main-content li:hover
       {
           text-decoration: underline;
       }






       @media screen and (max-width:1440px)
       {

        .side-box
           {
               max-width: 380px;
               min-width: 380px;
               align-items: center;
               justify-content: center;
               right: 180px;
           }

           .blog-post
           {
               max-width:28rem ;
               height: 34rem;
           }

           .table-all
           {
               grid-column-gap: 1.2rem;
           }

           .all-engineering-articles
           {
               left: 12.5rem;
           }


       }

       @media screen and (max-width:1024px)
       {

        .side-box
           {
               display: none;
           }

           .vertical-nav-bar
           {
               top: 70%;
           }

           .blog-post
           {
               max-width:28rem ;
               height: 34rem;
           }

           .table-all
           {
               grid-column-gap: 0rem;
           }

           .all-engineering-articles
           {
               left: 12.5rem;
               
           }

           .next-page
           {
               margin-left: 0px;
               width: 800px;
           }

           .next-page span 
           {
               margin-left: 540px;
           }


       }

       @media screen and (max-width:768px)
       {

        .side-box
           {
               display: none;
           }

           .vertical-nav-bar
           {
               display: none;
           }

           .table-all
           {
               grid-template-columns: repeat(1,1fr);
               grid-column-gap: 0rem;
           }

           .all-engineering-articles
           {
               left: 5rem;
           }


           .next-page
           {
               margin-left: 00px;
               width: 640px;
           }

           .next-page span 
           {
               margin-left: 320px;
           }

           .main-content
           {
               grid-template-columns:repeat(2,1fr) ;
           }

           .article-content
           {
               height: auto;
               width: 640px; 
           }


           .all-griding
           {
            display: grid;
            grid-template-columns: repeat(2,1fr);
           }




          .similar-articles .overall-heading
       {
           padding-left: 10px;
           width: 640px;
           margin-bottom: 20px;
           
       }

       .similar-blog
       {
           position: relative;
           width: 250px;
           height: 150px;  
          margin-bottom:15px;
          padding: 0px 0px 0px 0px;
          padding-bottom: 20px;
          margin-right: 5px;
       }

       .similar-article-heading
       {
           width:110px;
           height: 0px;
           padding-right: 15px;
       }

       .similar-article-image
       {
            float: left;
            height: 100%;
       }

      

       .similar-button button
       {
           top: 110px;
           right:10px;
           margin-top: 5px;
           cursor: pointer;
       }




       }

       @media screen and (max-width:426px)
       {

        .left .content img
       {
           padding-left: 20px;
       }

        .top-img2-logo
        {
            display: none;
        }

        .side-box
           {
               display: none;
           }

           .vertical-nav-bar
           {
               display: none;
           }


           .all-engineering-articles
           {
               left: 0.5rem;
           }


           .next-page
           {
               margin-left: 10px;
               width: 370px;
           }

           .next-page span 
           {
               margin-left: 100px;
           }

           .main-content
           {
               grid-template-columns:repeat(1,1fr) ;
          }

          .search-box:hover > .search-txt
           {
            width: 120px;
            padding:2px;
           }

          .search-txt
          {
              font-size: 10px;
        }


        .article-content
           {
               height: auto;
               width: 360px; 
           }


           .all-griding
           {
            display: grid;
            grid-template-columns: repeat(1,1fr);
           }




          .similar-articles .overall-heading
       {
           padding-left: 10px;
           width: 355px;
           margin-bottom: 20px;
           
       }


       .similar-blog
       {
           position: relative;
           width: 250px;
           height: 150px;  
          margin-bottom:15px;
          padding: 0px 0px 0px 0px;
          padding-bottom: 20px;
          margin-right: 5px;
       }

       .similar-article-heading
       {
           width:110px;
           height: 0px;
           padding-right: 15px;
       }

       .similar-article-image
       {
            float: left;
            height: 100%;
       }

      

       .similar-button button
       {
           top: 110px;
           right:10px;
           margin-top: 5px;
           cursor: pointer;
       }

       #channel-name
       {
           padding: 3px;
           font-weight: 600;
           margin-left: 11px;
           margin-top: 10px;
       }

       #author-linkedin
       {
           margin: 0 5px;
           padding: 0 5px;
       }

       #entity-save-subscribe
       {
           float: left;
       }

       .logo-footer-img
       {
        border: none;
       }

       


    }



       @media screen and (max-width:376px)
       {

        .top-img2-logo
        {
            display: none;
        }

        .side-box
           {
               display: none;
           }

           .vertical-nav-bar
           {
               display: none;
           }

           .all-engineering-articles
           {
               left: 0.2rem;
           }

           .next-page
           {
               margin-left: 10px;
               width: 350px;
           }

           .next-page span 
           {
               margin-left: 90px;
           }

           .main-content
           {
               grid-template-columns:repeat(1,1fr) ;
          }

          .search-box:hover > .search-txt
{
    width: 120px;
    padding:2px;
}

.search-txt
{
    font-size: 10px;
}


.article-content
           {
               align-items: center;
               height: auto;
               width: 315px; 
           }


           .all-griding
           {
            display: grid;
            grid-template-columns: repeat(1,1fr);
           }




          .similar-articles .overall-heading
       {
           padding-left: 10px;
           width: 310px;
           margin-bottom: 20px;
           
       }


       .similar-blog
       {
           position: relative;
           width: 250px;
           height: 150px;  
          margin-bottom:15px;
          padding: 0px 0px 0px 0px;
          padding-bottom: 20px;
          margin-right: 5px;
       }

       .similar-article-heading
       {
           width:110px;
           height: 0px;
           padding-right: 15px;
       }

       .similar-article-image
       {
            float: left;
            height: 100%;
       }

      

       .similar-button button
       {
           top: 110px;
           right:10px;
           margin-top: 5px;
           cursor: pointer;
       }

       #channel-name
       {
           padding: 3px;
           font-weight: 600;
           margin-top: 10px;
           margin-left: 11px;
           
       }

       #author-linkedin
       {
           margin: 0 5px;
           padding: 0 5px;
       }

       #entity-save-subscribe
       {
           float: left;
       }

       



       }

       @media screen and (max-width:320px)
       {

        .top-img2-logo
        {
            display: none;
        }

        .side-box
           {
               display: none;
           }

           .vertical-nav-bar
           {
               display: none;
           }

          

           .all-engineering-articles
           {
               left: 0.1rem;
           }


           .next-page
           {
               margin-left: 10px;
               width: 290px;
           }

           .next-page span 
           {
               margin-left: 20px;
           }

           .main-content
           {
               grid-template-columns:repeat(1,1fr) ;
          }

          .search-box:hover > .search-txt
{
    width: 80px;
    padding:2px;
}

.name-aut
{
    margin-left: 13rem;
}

.save-to-later
{
    margin-left: 23rem;
}

.article-content
           {
               height: auto;
               width: 291px; 
           }


           .all-griding
           {
            display: grid;
            grid-template-columns: repeat(1,1fr);
           }




          .similar-articles .overall-heading
       {
           padding-left: 10px;
           width: 290px;
           margin-bottom: 20px;
           
       }


       .similar-blog
       {
           position: relative;
           width: 250px;
           height: 150px;  
          margin-bottom:15px;
          padding: 0px 0px 0px 0px;
          padding-bottom: 20px;
          margin-right: 5px;
       }

       .similar-article-heading
       {
           width:110px;
           height: 0px;
           padding-right: 15px;
       }

       .similar-article-image
       {
            float: left;
            height: 100%;
       }

      

       .similar-button button
       {
           top: 110px;
           right:10px;
           margin-top: 5px;
           cursor: pointer;
       }

       #channel-name
       {
           padding: 3px;
           font-weight: 600;
           margin-top: 10px;
           margin-left: 11px;
           
       }

       #author-linkedin
       {
           margin: 0 5px;
           padding: 0 5px;
       }

       #entity-save-subscribe
       {
           float: left;
       }



       }


       
      




       

